.App {
  text-align: center;
  background-color: #f0f8ff; /* Light background color */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App-header {
  background-color: #4CAF50; /* Green background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 400px;
}

h1 {
  color: white;
  font-size: 24px;
  margin-bottom: 20px;
}

p {
  color: white;
  margin-bottom: 10px;
}

input {
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  width: calc(100% - 24px);
}

button {
  padding: 10px 20px;
  background-color: #ffeb3b; /* Yellow button */
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #fdd835; /* Darker yellow on hover */
}
